.grandprix_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 248, 248);
}

.item {
    display: flex;
    align-items: center;
    flex: 1;
}

.race-list-wrapper {
    margin: 20px 8px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    overflow-x:auto;
    overscroll-behavior-inline: contain;
    padding: 0 1rem 1rem;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #b9b9b9);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #979797);
}

