.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.table {
    width: 450px; /* Adjust the width as needed */
    border-collapse: collapse;
}
.table2 {
    width: 500px;
    border-collapse: collapse;
}
.table3 {
    width: 500px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.table2 th,
.table2 td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.table3 th,
.table3 td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}